/*-------- Accordion --------*/

.accordion {

    &__item:not(:first-child) {
        margin-top: 16px;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 16px;

        background-color: #fff;
        transition: background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &__wrapper.active {
        background-color: $blue;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 88px;

        padding-left: 26px;
        padding-right: 35px;

        font-family: $font-b;
        font-size: 20px;
        color: $black;
        text-align: left;

        border-radius: 16px;

        transition: border-radius 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &__button:hover &__pm {
        transform: rotateZ(-180deg);
    }

    &__button.active {
        background-color: transparent;
    }

    &__pm {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        width: 30px;
        height: 30px;
        margin-left: 20px;

        color: $black;

        position: relative;

        transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95),
            background-color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95),
            border-color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95),
            transform 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    &__pm:before,
    &__pm:after {
        content: "";

        width: 50%;
        height: 2px;
        background-color: currentColor;

        position: absolute;
    }

    &__pm:after {
        transform: rotateZ(90deg);
    }

    &__button.active &__pm {
        transform: rotateZ(-180deg);
    }

    &__button.active &__pm:after {
        content: none;
    }

    &__content {
        overflow: hidden;
        transition: height 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &__text {
        font-size: 14px;
        line-height: 1.5;
    }

    &__text-wrapper {
        padding: 0 26px 26px 26px;
        transition: background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}

@media (max-width: 767px) {

    .accordion {

        &__button {
            height: 65px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 16px;
        }
    }
}

@media (max-width: 479px) {

    .accordion {

        &__item:not(:first-child) {
            margin-top: 10px;
        }
        
        &__button {
            height: 55px;
            padding-left: 18px;
            padding-right: 18px;
            font-size: 14px;
        }

        &__pm {
            width: 25px;
            height: 25px;
            margin-left: 12px;
        }

        &__text {
            font-size: 12px;
            line-height: 1.3;
        }
    }
}