/*-------- Card --------*/

.cards-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards-list {

    &--team {
        margin-top: 63px;
        padding: 0 150px;
        padding-top: 2%;
        position: relative;
    }

    &--team:before {
        content: "";
        width: 100%;
        height: 20%;

        background-image: url(../../images/team/rope.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        position: absolute;
        top: 0;
        left: 0;
    }

    &--team &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: calc(25% - 87px);
        max-width: 237px;
    }

    &--team &__item:nth-child(1) {
        transform: rotateZ(10deg);
    }

    &--team &__item:nth-child(2) {
        transform: rotateZ(352deg) translateY(9%) translateX(9%);
    }

    &--team &__item:nth-child(3) {
        transform: rotateZ(3deg) translateY(6%) translateX(7%);
    }

    &--team &__item:nth-child(4) {
        transform: rotateZ(357deg) translateY(3%) translateX(6%);
    }

    &--team &__item:before {   
        content: "";
        width: 22px;
        height: 6.8vw;
        margin-bottom: -32px;

        background: #C49A6C;
        z-index: 2;
    }
}

.card {

    &--team {
        width: 100%;
        padding: 14px;
        background-color: #fff;
        border-radius: 16px;
    }

    &--team &__image-wrapper {
        position: relative;
        border: 4px solid #231F20;
    }

    &--team &__image-wrapper:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 117%;
    }

    &--team &__title {
        margin-top: 16px;
        font-family: $font-b;
        font-size: 16px;
    }

    &--team &__text {
        margin-top: 6px;
        font-size: 14px;
        opacity: 0.5;
    }
}

@media (max-width: 1219px) {

    .cards-list {

        &--team {
            padding-left: 80px;
            padding-right: 80px;
        }

        &--team &__item {
            width: calc(25% - 60px);
        }
    }
}

@media (max-width: 989px) {

    .cards-list {

        &--team {
            margin-top: 30px;
            padding-top: 4%;
            padding-left: 30px;
            padding-right: 30px;
        }

        &--team &__item {
            width: calc(25% - 26px);
        }

        &--team &__item:nth-child(1) {
            transform: rotateZ(3deg);
        }

        &--team &__item:nth-child(2) {
            transform: rotateZ(360deg) translateY(4%) translateX(9%);
        }

        &--team &__item:nth-child(3) {
            transform: rotateZ(357deg) translateY(4%) translateX(7%);
        }

        &--team &__item:nth-child(4) {
            transform: rotateZ(357deg) translateY(1%) translateX(6%);
        }

        &--team &__item:before {
            margin-bottom: -24px;
        }
    }
}

@media (max-width: 989px) and (min-width: 619px) {

    .card {

        &--team {
            padding: 10px;
        }

        &--team &__title {
            font-size: 14px;
        }

        &--team &__text {
            font-size: 12px;
        }
    }
}

@media (max-width: 767px) {

    .cards-list {

        &--team &__item:before {
            height: 9.8vw;
        }
    }
}

@media (max-width: 619px) {

    .cards-list {

        &--team {
            padding-top: 10%;
            padding-left: 12px;
            padding-right: 12px;
            justify-content: space-around;
        }

        &--team &__item {
            width: calc(50% - 30px);
        }

        &--team &__item:nth-child(n) {
            transform: unset;
        }

        &--team &__item:before {
            height: 14.8vw;
        }
    }
}

@media (max-width: 479px) {

    .cards-list {

        &--team {
            justify-content: space-between;
        }

        &--team &__item {
            width: calc(50% - 8px);
        }

        &--team &__item:before {
            height: 22.8vw;
            margin-bottom: -32px;
        }
    }

    .card {

        &--team {
            padding: 10px;
        }

        &--team &__title {
            font-size: 14px;
        }

        &--team &__text {
            font-size: 12px;
        }
    }
}