/*-------- Footer --------*/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        width: 56px;
    }
}

@media (max-width: 989px) {

    .footer {

    }
}

@media (max-width: 767px) {

    .footer {
    }
}

@media (max-width: 479px) {

    .footer {
    }
}